
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.about-img {
    width: 20%;

}

.about-img > img {
    width: 100%;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;

}

.about > p {
    width: 50%;
    font-family: Lugrasimo, sans-serif;
    font-size: 3em;
    font-weight: bolder;
}

main.about{
    background-image:linear-gradient(#61213C,rgba(158, 158, 158, 0.8));
    background-size: cover;
    max-height: 80vh;
    color:rgb(230, 230, 230);

}

.container {
    padding-top: 100px;
}

.word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }



