footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 3em;
    color: white;
    background-color: #61213C;
    font-size: 1.5em;
    margin-top: 0.3em;
}

.social-links {
    display: flex;
    flex-direction: row;
}

.social-links span {
    padding-right: 1em;
}

.fa-facebook-square,
.fa-linkedin {
    color: white;
}

.copyright {
    font-weight: bold;
}